.card-filme{
    background-color: transparent !important;
    max-width: 220px;
    height: fit-content !important;
    font-family: "Source Sans Pro";
    margin: .5rem;
    border-radius: 15px;
    border: 0px solid !important;
    align-self: center;
}

.card-filme :hover{
    background-color: rgba(166, 90, 63, 30%);
    border-radius: 15px;
}

.card-content{
    text-align: center;
    line-height: 1.8rem;
    list-style-type: none;
    padding: .5rem;
}

.card-title, .card-subtitle{
    font-weight: bold;
    text-align: center;
}

.card-title{
    font-family: 'Bebas Neue';
    font-size: 1.5rem;
}


@media (max-width: 768px){
    .card-filme{
        margin: 0rem 0rem;
        border: 0px;
    }
}