.container-nav{
    height: auto;
    width: 100px;
    max-width: 20vh;
    position: fixed;
    padding: 2.5rem 0rem 0rem 3rem !important;
}


.navbar-toggler{
    border: 0px solid transparent !important;
}

.logo-imagem{
    max-width: 160px;
    max-height: 100px;
}

.navbar-collapse{
    padding-left: 2rem;
}

.nav-item{
    font-family: "Bebas Neue";
    font-weight: lighter;
    text-align: right;
    line-height: 0.8em;
    font-size: 25px;
    display: inline-block;
    text-transform: uppercase;
    width: 6rem;
}

.nav-item :active {
    font-weight: bold; 
    color: #314E59;

}

.nav-item :hover {
    font-weight: bold; 
    color: #314E59 !important;

}

.div-icones{
    /* margin-right: 1rem; */
    margin-left: 1.6rem;
}

.icones{
    width: 22px;
    height: 22px;
    margin: 0.2rem;
}


/* Media Query pra redimensionar o menu hambuguer*/

@media (max-width: 768px) {
    .navbar-collapse{
        display: flex;
        background: #f2d888;
        align-items: center;
        justify-content: center;
        margin: 0px !important;

        height: 40%;
        width: 100%;

        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
        top: -33px;
        left: 0;

        transition: all .5s ease;
        transform: translateX(0px) ;
        transform: translateY(180px);
    }
    
    .div-menu{
        display: flex;
        padding: 0rem 0.5rem;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
    }

    .container-nav{
        padding: .3rem 0rem !important;
        flex-direction: row;
        justify-content: space-between;
        max-width: 100vh;
        z-index: 1;
        background-color: #BFAE8E;
    }

    .collapse.show.navbar-collapse{
        margin: 0px !important;
    }

    .collapsing.navbar-collapse{
        height: 40%;
        position: fixed;
    }

    .nav-item{
        text-align: center;
        font-size: 1.2em;
    }

    .navbar-toggler{
        padding: .1rem .1rem !important; 
    }

    .div-icones{
        align-self: flex-end;
        padding-right: 1.5rem;
    }

    .navbar-brand{
        padding: .5rem auto;
    }

}
