.container-nav{
    height: auto;
    width: 150px;
    position: fixed;
    padding: 45px 0px 0px 90px;
    flex-direction: column;
}
.logo-imagem{
    max-width: 110px;
}

@media (max-width:768px) {
    .container-nav{
        flex-direction: 
    }
}

.nav-item{
    text-align: right;
    line-height: 0.8em;
    font-size: 25px;
    color: black;
}

.nav-item :hover{
    color: #314e59;
}
.logo{
    color: black;
    font-family: "Bebas Neue Bold";
}
.logo :hover{
    color: #314e59;
}

.icones{
    width: 22px;
    height: 22px;
    margin-right: 8px;
}


.div-icones {
    padding: 10px 0px 0px 110px;
}