.container-nav{
    height: auto;
    width: 20%;
    left: 0;
    top: 0;
    max-width: 200px;
    position: fixed;
    padding: 2.5rem 0rem 0rem 3rem !important;
    z-index: 1;
}

.navbar-toggler{
    border: 0px solid transparent !important;
}

.logo-imagem{
    max-width: 160px;
    max-height: 100px;
}

.navbar-collapse{
    padding-left: 2rem;
}

.nav-item{
    font-family: "Bebas Neue";
    font-weight: lighter;
    text-align: right;
    line-height: 0.8em;
    font-size: 25px;
    display: inline-block;
    text-transform: uppercase;
    width: 6rem;
}

.nav-item :active {
    font-weight: bold; 
    color: #314E59;

}

.nav-item :hover {
    font-weight: bold; 
    color: #314E59 !important;

}

.div-icones{
    margin-right: 1rem;
    margin-left: 1.8rem;
}

.icones{
    width: 22px;
    height: 22px;
    margin: 0.2rem;
}


/* Media Query pra redimensionar o menu hambuguer*/

@media (max-width: 768px) {
    .navbar-collapse{
        display: flex;
        padding: 0rem 0rem;
        background-color: #f2d888;
        align-items: center;
        justify-content: center;
        margin: 0px !important;

        height: 40%;
        width: 100%;

        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
        /* Posição fixa enquanto rola! BUG*/

        top: -33px;
        left: 0;

        transition: top 3s ease-in-out;
        transform: translateX(0px) ;
        transform: translateY(180px);
    }
    
    .div-menu{
        display: flex;
        padding: 0rem 0rem;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        /* z-index: 1; */
    }

    .container-nav{
        padding: .3rem .5rem !important;
        margin-left: 1.2rem !important;
        flex-direction: row;
        justify-content: space-between;
        max-width: 100%;
        z-index: 1;
        position: sticky;
        background-color: #BFAE8E;
    }

    .collapse.show.navbar-collapse{
        margin: 0px !important;
    }

    .collapsing.navbar-collapse{
        height: 40%;
        position: fixed;
    }

    .nav-item{
        text-align: center;
        font-size: 1.2em;
        /* color: black;  BACKGROUND COLOR TA SOBREPONDO A COR*/
        font-family: "Bebas Neue Regular";
    }

    .navbar-toggler{
        margin-left: 0.3rem;
        padding: .1rem .1rem !important; 
    }

    .div-icones{
        align-self: flex-end;
        padding-right: 0rem;
    }
}

@media (max-width: 450px){
    .container-nav{
        padding: .3rem 0rem !important;
        margin-left: 0rem !important;
        padding: .3rem .3rem !important;
    }
    .navbar-toggler{
        margin-left: 0rem;
    }
}

