.container-filmes{
    margin: 2rem auto auto 11.5rem;
    max-width: 90%;
    min-height: 430px;
    display: flex;
    justify-content: space-around;
    align-items: center !important;
    flex-flow: row wrap;
    background-color: rgba(242, 216, 136,35%);
    border-radius: 15px;
}

@media (max-width: 450px){
    .container-filmes{
        flex-flow: column wrap;
        max-width: 100%;
        margin: 0rem auto 2rem auto;
    }
}

@media(max-width: 768px){
    .container-filmes{
        flex-direction: row;
        max-width: 100%;
        margin: 0rem auto 2rem auto;
        padding-bottom: .5rem;
    }
}