.container-perguntas{
    margin: 2rem auto 2rem 15rem;
    max-width: 77%;
    height: 400px;
    background-color: rgba(242, 216, 136,35%);
    border-radius: 15px;
}

@media (max-width: 450px){
    .container-perguntas{
        max-width: 100%;
        margin: 0rem auto 2rem auto;
    }
}

@media(max-width: 768px){
    .container-perguntas{
        max-width: 100%;
        margin: 0rem auto 2rem auto;
        padding-bottom: .5rem;
    }
}