.container-all{
    padding-top: 3.2rem;
}

.container-fotos{
    margin-left: 11.5rem ;
    max-width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    background-color: rgba(242, 216, 136,35%);
    border-radius: 15px;
}

.card{
    background-color: transparent !important;
    width: 220px;
    height: 300px;
    font-family: "Source Sans Pro";
    border-color: #ffffff;
    margin: 1rem;
    border-radius: 15px;
    border: 0px solid !important;
}

.card :hover{
    background-color: rgba(166, 90, 63, 30%);
    border-radius: 15px;
}

.card-content{
    text-align: center;
    line-height: 1.8rem;
    list-style-type: none;
    padding: .5rem;
}

.card-title, .card-subtitle{
    font-weight: bold;
}

.titulo-pack{
    padding-top: .8rem;
    text-align: center;
    font-family: 'Bebas Neue';
    font-weight: bold;
    color: #314E59;
}

@media (max-width: 450px){
    .container-fotos{
        flex-flow: column wrap;
        max-width: 100%;
        margin: 0rem auto;
    }
    .container-all{
        padding-top: 1.5rem;
    }
}

@media(max-width: 768px){
    .container-fotos{
        flex-direction: row;
        max-width: 100%;
        margin: 0rem auto;
        padding-bottom: .5rem;
    }
    .card{
        margin: 0rem 0rem;
        border: 0px;
    }
}