.container-infos{
    margin: 2rem auto auto 15rem;
    max-width: 76%;
    height: fit-content;
    background-color: #f2d88859;
    border-radius: 15px;
}
.div-texto{
    padding: 1rem;
}

@media (max-width: 450px){
    .container-infos{
        max-width: 90%;
        margin: 0rem auto 2rem auto;
    }
}

@media(max-width: 768px){
    .container-infos{
        max-width: 90% !important;
        margin: 0rem auto 2rem auto;
    }
}


@media(max-width: 1024px){
    .container-infos{
        max-width: 72%;
    }
}