.video-container{
    justify-content: center;
    margin-left: 12.8rem;
    padding: 3.2rem 0rem 2rem 0rem;
}

.video-content{
    max-width: 95%;
}

@media (max-width: 768px) {
    .video-container{
        justify-content: center;
        align-items: center;
        padding-top: 10rem;
        margin-left: 4rem;
    }
    .video-content{
        width: 65vh;
    }
}

@media (max-width: 450px) {
    .video-container{
        margin-left: 0rem;
    }
    .video-content{
        width: 50vh;
    }
}