.video-container{
    padding: 3rem 2rem 3rem 10rem;
    justify-content: center;
    margin-left: 12rem;
}

.video-content{
    width: 95%;
}

@media (max-width: 768px) {
    .video-container{
        justify-content: center;
        align-items: center;
        margin-top: 8rem;
        margin-left: 0px;
    }
    .video-content{
        width: 65vh;
    }
}

@media (max-width: 450px) {
    .video-content{
        width: 50vh
    }
}