.container-extra{
    margin: 2rem auto auto 15rem ;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    background-color: rgba(242, 216, 136,35%);
    border-radius: 15px;
}



/* 
@media (max-width: 450px){
    .container-fotos{
        flex-flow: column wrap;
        max-width: 100%;
        margin: 0rem auto;
    }
    .container-all{
        padding-top: 1.5rem;
    }
}

@media(max-width: 768px){
    .container-fotos{
        flex-direction: row;
        max-width: 100%;
        margin: 0rem auto;
        padding-bottom: .5rem;
    }
    .card{
        margin: 0rem 0rem;
        border: 0px;
    }
} */