.card-extra{
    background-color: transparent !important;
    width: 180px;
    height: 300px;
    font-family: "Source Sans Pro";
    margin: .5rem;
    border-radius: 15px;
    border: 0px solid !important;
}


.card-content{
    text-align: center;
    line-height: 1.8rem;
    list-style-type: none;
    padding: .5rem;
}

.card-title, .card-subtitle{
    font-weight: bold;
}


@media (max-width: 768px){
    .card-extra{
        margin: 0rem 0rem;
        border: 0px;
    }
}